form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form input,
form select{
    box-sizing: border-box;
    margin: 10px;
    width: 250px;
    padding: 10px;
}
form input:nth-of-type(3){
    color: white;
    background-color: #009e81;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.results>div,
.results>section{
    background-color: #fc5707;
    width: 200px;
    color:white;
    padding:10px;
    margin: 10px;
    border-radius: 10px; 
    text-align: center;
}
.results{
    display:flex;
    flex-wrap: wrap;
}